<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title><%= name %></title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
  </head>
  <body>
    <starter-app></starter-app>

  <script src="lib/dist/es6-shim.js"></script>
  <script>
    System.paths = {
      'angular2/*':'lib/angular2/*.js',
      'rtts_assert/*': 'lib/rtts_assert/*.js',
      'index': 'index.js'
    };
    System.import('index').then(function(module) {
      module.main();
    }, console.log.bind(console));
  </script>
  </body>
</html>