<body>
  <script src="../node_modules/jasmine-core/lib/jasmine-core/jasmine.js"></script>
  <script src="../node_modules/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
  <script src="../node_modules/jasmine-core/lib/jasmine-core/boot.js"></script>
  <script src="../node_modules/zone.js/dist/zone.js"></script>
  <script src="../node_modules/reflect-metadata/Reflect.js"></script>
  <script src="../node_modules/systemjs/dist/system.src.js"></script>
  <script>
    System.config({
      map: {
        '@angular': '../node_modules/@angular',
        'rxjs': '../node_modules/rxjs'
      },
      packages: {
        'src': { defaultExtension: 'js', format: 'register' },
        '@angular/common': { defaultExtension: 'js', main: 'index.js' },
        '@angular/compiler': { defaultExtension: 'js', main: 'index.js' },
        '@angular/core': { defaultExtension: 'js', main: 'index.js' },
        '@angular/http': { defaultExtension: 'js', main: 'index.js' },
        '@angular/platform-browser': { defaultExtension: 'js', main: 'index.js' },
        '@angular/platform-browser-dynamic': { defaultExtension: 'js', main: 'index.js' },
        '@angular/router': { defaultExtension: 'js', main: 'index.js' },
        'rxjs': { defaultExtension: 'js' }
      }
    });
    Promise.all([
      System.import('src/app/app.component.spec'),
      System.import('src/shared/directive/example.directive.spec'),
      System.import('src/shared/pipe/example.pipe.spec'),
      System.import('src/shared/service/example.service.spec')
    ])
    .then(window.onload)
    .catch(console.error.bind(console));
  </script>
</body>
</html>