<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <meta name="author" content=""/>
    <meta name="description" content=""/>
    <title><%= name %></title>
    <style>
      *, *:before, *:after { box-sizing: border-box; }
      body { margin: 0; padding: 0; }
    </style>
  </head>
  <body>
    <starter></starter>

  <script src="lib/dist/es6-shim.js"></script>
  <script src="app/config.js"></script>
  </body>
</html>