<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title><%= name %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1"/>
  <meta name="mobile-web-app-capable" content="yes"/>
</head>
<body>
  <example></example>
  <script type="text/javascript" src="https://code.angularjs.org/2.0.0-alpha.31/angular2.sfx.dev.js"></script>
  <script type="text/javascript">System.import('index');</script>
</body>
</html>