<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1"/>
</head>
<body>
	<example></example>
	<script src="./lib/traceur-runtime.js"></script>
	<script src="./lib/es6-module-loader.js"></script>-->
	<script src="./lib/system.js"></script>
	<script src="./lib/zone.js"></script>
	<script>
		System.config({
			baseURL: '/js/',
			paths: {
				'lib:*': 'lib/*.js',
				'angular2/*': 'lib/angular2.js',
				'index': 'index.js'
			},
			map: {
				'traceur': 'lib:traceur',
				'traceur-runtime': 'lib:traceur-runtime',
				'es6-module-loader': 'lib:es6-module-loader',
				'angular/router': 'lib:router',
				'reflect-metadata': 'lib:reflect',
				'rx': 'lib:rx'
			},
			transpiler: 'traceur'
		});
		System.import('index');
	</script>
</body>
</html>